<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash TCP Appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_PROVIDER}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {
                "application":"bloggios-cloud-gateway",
                "environment": "${LOGSTASH_PROFILE}"
                }
            </customFields>
        </encoder>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>

</configuration>
